apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin
  namespace: backend
  labels:
    app: admin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin
  template:
    metadata:
      labels:
        app: admin
    spec:
      containers:
        - name: admin
          image: 211125364313.dkr.ecr.ap-southeast-1.amazonaws.com/admin:__VERSION__
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: backend-logs
              mountPath: /logs
          resources:
            requests:
              cpu: "1000m"
            limits:
              cpu: "1000m"
#      volumes:
#        - name: backend-logs
#          nfs:
#            server: 192.168.1.60
#            path: /mnt/data/nfs/backend_logs
      volumes:
        - name: backend-logs
          persistentVolumeClaim:
            claimName: pvc-admin-logs
      imagePullSecrets:
        - name: ecr-secret
---
#apiVersion: v1
#kind: PersistentVolume
#metadata:
#  name: pv-admin-logs
#spec:
#  capacity:
#    storage: 10Gi
#  accessModes:
#    - ReadWriteMany
#  persistentVolumeReclaimPolicy: Retain
#  mountOptions:
#    - debug
#  cephfs:
#    monitors:
#      - 192.168.1.101:6789
#      - 192.168.1.102:6789
#      - 192.168.1.103:6789
#    path: /volumes/backend/backend_logs/beeff48c-763d-4027-af16-f42a80c3ad3e
#    user: k8s
#    secretRef:
#      name: cephfs-secret
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-admin-logs
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  csi:
    driver: cephfs.csi.ceph.com
    volumeHandle: backend-logs
    volumeAttributes:
      clusterID: ed07f64b-c372-11f0-8e18-000c291e3270
      fsName: cephfs
      monitors: 192.168.1.101:6789,192.168.1.102:6789,192.168.1.103:6789
      provisionVolume: "false"
      subvolumePath: /volumes/csi/backend-logs/2b4f0cd1-58fd-452f-8ff1-a8526fc5ad53
      rootPath: /volumes/csi/backend-logs/2b4f0cd1-58fd-452f-8ff1-a8526fc5ad53
    nodeStageSecretRef:
      name: cephfs-secret
      namespace: backend
    nodePublishSecretRef:
      name: cephfs-secret
      namespace: backend
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-admin-logs
  namespace: backend
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  volumeName: pv-admin-logs
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: admin
  namespace: backend
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: admin
  minReplicas: 1
  maxReplicas: 4
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70

---
apiVersion: v1
kind: Service
metadata:
  name: admin
  namespace: backend
  labels:
    app: admin   # Phải trùng với ServiceMonitor
spec:
  ports:
    - name: http   # Phải trùng với ServiceMonitor endpoints.port
      port: 8080
      targetPort: 8080
  selector:
    app: admin

---
#apiVersion: networking.k8s.io/v1
#kind: Ingress
#metadata:
#  name: admin-kong-ingress
#  namespace: backend
#  annotations:
#    konghq.com/strip-path: "true"
#    konghq.com/proxy-body-size: "300m"
#    konghq.com/plugins: jwt-auth, txu-plugins     # Gắn plugin vào route
#spec:
#  ingressClassName: kong            # KIC sẽ quản lý Ingress được gắn ingress-class của mình, nếu được gắn thêm plugins của KIC thì KIC sẽ sync route này vào Kong (admin, proxy)
#  rules:
#    - host: backend.txuyen.com
#      http:
#        paths:
#          - path: /admin
#            pathType: Prefix
#            backend:
#              service:
#                name: admin
#                port:
#                  number: 8080

---

#apiVersion: monitoring.coreos.com/v1
#kind: ServiceMonitor
#metadata:
#  name: admin-service-monitor
#  namespace: backend
#  labels:
#    release: monitoring
#spec:
#  selector:
#    matchLabels:
#      app: admin
#  endpoints:
#    - port: http
#      path: /actuator/prometheus
#      interval: 15s
#      scheme: http


